/* Header Styles */
#header-background {
  position: relative;
  top: 3rem;
  height: calc(100vh - 3rem);
  background-image: url(../images/laptop.jpg);
  background-position: center;
  background-size: cover;
}

#header-container {
  position: relative;
  display: flex;
  height: calc(100vh - 3rem);
  width: 100%;
  background-image: linear-gradient(215deg, rgba(0, 0, 0, 0.4), black);
  justify-content: space-around;
  align-items: center;
}

#header-container span {
  font-family: "Indie Flower", cursive;
  font-size: 5rem;
  color: #fefae0;
  background-color: hsla(30, 53%, 64%, 60%);
  padding: 0 2rem;
  border-radius: 1rem;
  box-shadow: 0.0rem 0.2rem 0.2rem 0.2rem hsla(30, 60%, 80%, 60%);
  transition: 1s;
}

#header-container span:hover {
  transform: rotateY(180deg);
}

#header-container span:nth-child(2):hover {
  transform: rotateX(180deg);
}

@media screen and (orientation: portrait) {
  #header-container {
    flex-direction: column;
  }
}

/* About Section */
#about-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  font-size: 1.5rem;
}

#blurb {
  width: 100%;
}

#about-container img {
  width: 100%;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
}

@media screen and (orientation: portrait) {
  #about-container {
    display: block;
  }

  #blurb {
    text-align: center;
  }

  #about-container img {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
}