/* Navigation Bar Styles */
nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  z-index: 100;
}

#hamburger {
  display: none;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  display: flex;
}

nav ul li {
  float: left;
  background-color: #c6d175;
  color: black;
  cursor: pointer;
  width: 25%;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  box-sizing: border-box;
}

nav a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: black;
}

nav ul li:hover {
  background-color: #FEFAE0;
}

nav a:visited{
  color: inherit;
}

.dropdown ul {
  display: none;
}

.dropdown:hover ul {
  position: relative;
  display: block;
}

.dropdown ul li {
  width: 100%;
  animation: open-menu 800ms ease-in-out;
}

.dropdown ul li:hover {
  background-color: FEFAE0;
}

#chevron {
  display: none;
}

@keyframes open-menu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateX(0);
  }
}

@media screen and (orientation: portrait) {
  #hamburger {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: #c6d175;
    height: 3rem;
  }

  #hamburger:hover {
    background-color: #FEFAE0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    animation: open-hamburger 600ms ease-in-out;
    z-index: 80;
  }

  nav ul li {
    position: relative;
    width: 40%;
  }

  #project-chevron {
    display: flex;
    justify-content: end;
  }

  #chevron {
    display: block;
    position: static;
    height: 2rem;
    padding: 0.5rem;
    background-color: #FEFAE0;
  }

  #chevron:hover {
    background-color: #c6d175;
  }

  .dropdown ul {
    list-style-type: square;
  }

  .dropdown:hover ul {
    display: none;
  }

  .dropdown.accordian {
    height: 100%;
  }
  
  .dropdown.accordian ul {
    display: block;
    position: relative;
    animation: none;
  }

  .dropdown.accordian ul li {
    animation: none;
    font-style: italic;
  }

  @keyframes open-hamburger {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
}