/* Styles for Project About Pages.
  This is only linked from html files for project pages and not to be used on main page.
*/
.project-heading {
  position: relative;
  font-size: 6rem;
  color: #fefae0;
  z-index: 10;
}

.project-page-background {
  position: relative;
  top: 3rem;
  height: calc(100vh - 3rem);
  background-image: url(../images/laptop.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  height: calc(100vh - 3rem);
  width: 100%;
  background-image: linear-gradient(215deg, rgba(0, 0, 0, 0.4), black);
}

.panel-selector {
  display: none;
}

.panel-container {
  position: relative;
  height: 75%;
}

.panel-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.panel {
  position: relative;
  width : 35%;
  border-radius: 15px;
  background-color: rgba(254, 250, 224, 50%);
  padding: 0 2rem 0 1rem;
  box-sizing: border-box;
  overflow-y: hidden;
}

.panel:hover {
  overflow-y: scroll;
}

.project-footer{
  position: absolute;
  bottom: 0.5rem;
  color: #fefae0;
}

.screenshots {
  text-align: center;
}

.screenshots h2 {
  text-align: left;
}

.screenshots img {
  width: 90%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .panel {
    width: 45%;
    padding: 0 2.5rem 0 1.5rem;
  }
}

@media screen and (orientation: portrait) {
  .project-heading {
    width: 100%;
    text-align: center;
    font-size: 4rem;
  }

  .panel-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width : 90%;
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: rgba(254, 250, 224, 50%);
  }

  .panel-selector {
    position: relative;
    display: flex;
    height: 2.5rem;
  }

  .panel-selector input {
    display: none;
  }

  .panel-selector label {
    width: 50%;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
  }

  #about-label {
    border-top-left-radius: 15px;
  }

  #screenshots-label {
    border-top-right-radius: 15px;
  }

  .panel-selector label:hover {
    color: rgb(254, 250, 224);
    background-color: black;
  }

  .panel-selector input[type="radio"]:checked + label {
    color: rgb(254, 250, 224);
    background-color: black;
  }

  .panel-flex {
    top: 2rem;
  }

  .panel {
    background: none;
    width: 100%;
    max-height: calc(96% - 2.5rem);
  }

  h2{
    display: none;
  }
}