/* Define Fonts */
@font-face {
  font-family: "Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

/* html {
  background-color: #2667ff;
} */

body {
  background-color: white;
  width: 800px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: "Plex Sans", Arial, sans-serif;
}

#header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

#menu  {
  position: relative;
  left: 85%;
  width: 120px;
  transition: display 1s;
}

.closed {
  display: none;
}

.open {
  display: block
}

nav ul li {
  display: inline-block;
}

#hamburger {
  display: inline;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

section {
  margin: 20px;
  border-bottom: 1px solid black;
}