/* Define Fonts */
@font-face {
  font-family: "Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

/* html {
  background-color: #2667ff;
} */

body {
  background-color: white;
  width: 800px;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-family: "Plex Sans", Arial, sans-serif;
  font-size: 16px;
}

nav ul {
  padding: 0;
  list-style: none;
  z-index: 10;
}

nav a {
  text-decoration: none;
}

nav ul li {
  float: left;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 25%;
  height: 3rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  box-sizing: border-box;
}

nav ul li:hover {
  background-color: white;
  color: black;
}

.dropdown ul {
  display: none;
}

.dropdown:hover ul {
  position: relative;
  display: block;
  top: 0.75rem;
}

.dropdown ul li {
  width: 100%;
  animation: open-menu 800ms ease-in-out;
}

.dropdown ul li:hover {
  background-color: blue;
}

@keyframes open-menu {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateX(0);
  }
}

@keyframes close-menu {
  0% {
    opacity: 100%;
    transform: rotateX(0);
  }
  100% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
}

h1 {
  padding-left: 1.25rem;
  z-index: 1;
}

section {
  margin: 20px;
  border-bottom: 1px solid black;
}